.section_02{
    width: 1200px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin: 0 auto;
}
.upper_2_row{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.h-section-2{
    font-family: 'Archivo', san-serif;
    font-size: 48px;
}
.p-section-2-a{
    width: 585px;
    font-family: 'Roboto', san-serif;
    text-align: center;
    font-size: 18px;
    line-height: 1.5;
    color: #b5bdc5;
}
.seg_ui{
  display: grid;
  grid-template-columns: auto auto auto;   
  gap: 10px;
}
.seg_ui_wrap {
    margin-top: 15px;
    width: 378px;
    height: 420px;
    background: rgba(28, 19, 37, 0.56); /* Adjust opacity as needed */
    border-radius: 14px;
    position: relative;
    overflow: hidden;
    border-radius: 20px;
}

.seg_ui_wrap::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: radial-gradient( #892be22c 20%, #121212 80%);
    z-index: -1;
}
