.section_02{
    width: 1200px;
    display: flex;
    flex-direction: column;
    gap: 70px;
    margin: 0 auto;
}
.upper_2_row{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.h-section-2{
    font-family: 'Archivo', san-serif;
    font-size: 48px;
}
.p-section-2-a{
    width: 585px;
    font-family: 'Roboto', san-serif;
    text-align: center;
    font-size: 18px;
    line-height: 1.5;
    color: #b5bdc5;
}
.seg_ui{
  display: grid;
  grid-template-columns: auto auto auto;   
  gap: 10px;
}
.seg_ui_wrap {
    width: 375px;
    height: 450px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  
}


.p_title_seg{
    font-family: "Roboto Mono", monospace;
    font-weight: 600;
    font-size: 18px;
}
.img_seg{
    width: 100%;
    height: 264px;
    border-radius: 14px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
}
.soft_dev{
    background-image: url(../../../../public/soft_dev.jpg);
}
.mobile_dev{
    background-image: url(../../../../public/mobile_dev.jpg);
}
.embedded_system{
    background-image: url(../.././../../public/embedded_system.jpg);
}
.soft_main{
    background-image: url(../../../../public/soft_main.jpg);
}
.vul_asses{
    background-image: url(../../../../public/vul_asses.jpg);
}
.syst_audit{
    background-image: url(../../../../public/syst_audit.jpg);
}
.penet_test{
    background-image: url(../../../../public/penet_test.jpg);
}
.ai_bg_ml{
    background-image: url(../../../../public/ai_bg_ml.jpg);
}
.comp_fore{
    background-image: url(../../../../public/comp_fore.jpg);
}
.wrapper_seg_ui{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 10px;
}
.t_details{
    height: 68px;
    font-family: 'Roboto', san-serif;
    font-size: 17px;
    line-height: 1.3;
    color: #b5bdc5;
}
.learn_more_1{
    display: flex;
    
}
.learn_more_1 a{
    display: flex;
    align-items: center;
    gap: 4px;
    font-family: 'Roboto Mono', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    color: #8a2be2;
}