.container{
    width: 1200px;
    margin: 0 auto;
    height: 720px;
  
}
.section_one{
    width: 100%;
    margin-top: 5.2rem;
    height: 464px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.left_col{
    width: 644px;
    height: 100%;
}
.right_col{
    width: 420px;
    height: 100%;
    background-image: url(../../../../public/OverlayBlur.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;    
}
.h-main{
    font-family: 'Archivo';
    font-size: 64px;
    font-weight: 500;
    line-height: 1.4;
}

.h-main span{
    color: #8A2BE2;
    font-weight: 600;
}
.p-main{
    margin-top: 1.5em;
    width: 570px;
    font-family: 'Roboto';
    font-size: 20px;
    line-height: 1.6;
}
.btn_wrap{
    margin-top: 3rem;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 45px;

}
.get-btn{
    padding: 0 20px;
    height: 51px;
    background: #8A2BE2;
    color: #0A0211;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-family: 'Roboto Mono', sans-serif;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
}
.learn_more{
   height: 50px;
   font-family: 'Roboto Mono', sans-serif;
   font-size: 16px; 
   font-weight: 600;
   text-transform: uppercase; 
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 5px;  
}
.arrow_icon{
    margin-top: 2px;
    width: 20px;
    height: 20px;
}